div.contact_us {
  --height: calc(100vh - var(--header-height));
  height: var(--height);
  max-height: var(--height);
  display: flex;
  flex-direction: row;
  gap: 0px;
}

/* For the left side content */
div.contact_us > .left {
  flex-grow: 1;
  padding: 50px;
  padding-top: 30px;
}

/* For the left side text */
div.contact_us > .left h1 {
  font-family: "Playfair display", sans-serif;
  text-transform: uppercase;
  font-size: 75px;
  margin: 0;
  margin-bottom: 50px;
}

div.contact_us > .left div {
  font-family: inherit;
  margin: 0;
}

div.contact_us > .left h3 {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--p);
}


/* For the links */
div.contact_us > .left .link {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 15px;

}
div.contact_us > .left svg {
  height: 26px;
  width: 26px;
}

div.contact_us > .left a {
  font-size: 18px;
  font-weight: 600;
  color: var(--gradientTo);
  text-decoration: none;
  display: block;
  position: relative;
  width: fit-content;
}

div.contact_us > .left a::after {
  content: "";
  height: 1px;
  /* width: calc(100% + 10px); */
  width: 0;
  background-color: black;
  position: absolute;
  bottom: -3.5px;
  left: 0;
  transition: all var(--slider-timing) 300ms;
}

div.contact_us > .left a:hover::after {
  width: 100%;
  transition: all var(--slider-timing) 300ms;
}


/* End of the left side text */



/* For the right side content */
div.contact_us > .right {
  width: fit-content;
  padding-right: 50px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--grey);
  height: 100%;
}
/* For the panel of images */
div.contact_us .panel {
  width: fit-content;
  position: relative;
  max-height: 488.69px;
}
div.contact_us .images {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin: 0;
  padding: 0;
  max-height: calc(220px + 238.75px);
}
div.contact_us .images > .top-row {
  display: flex;
  flex-direction: row;
  gap: 0px;
  max-height: 220px;
  max-width: 400px;
}
div.contact_us .top-row > img {
  width: fit-content;
  height: 220px;
}
/* For the bottom images */
div.contact_us .images > img.bottom {
  max-width: 455px;
  min-width: 455px;
  transform: scaleY(0.8);
  margin-top: -31px;
}


/* For the text */
div.contact_us .panel > div.text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 0.5px);
  margin: 0;
  padding: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  box-sizing: border-box;
  color: white;
  justify-content: center;
}

/* For the individual text styling */
.panel > div.text > h2 {
  font-size: 65px;
  margin: 0;
  margin-top: -30px;
  margin-bottom: 40px;
}
.panel > div.text > small {
  font-size: 17px;
  margin-bottom: 20px;
}

.panel > div.text > a {
  outline: 1px solid white;
  width: fit-content;
  background-color: transparent;
  font-size: 17px;
  color: white;
  text-decoration: none;
  padding: 20px;
}

.panel > div.text > .link-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 40px;
  margin-top: 30px;
  background-color: transparent;
}

/* The buttons */
div.text > .link-row > a {
  width: 40%;
  text-decoration: none;
  padding: 15px;
  font-size: 17px;
  font-weight: 300;
  text-align: center;
  outline: 1px solid white;
  color: white;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 250ms;
  display: inline-block;
  overflow: hidden;
}

div.text > .link-row > a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 250ms;
}
div.text > .link-row > a:focus {
  outline: 0.5px solid white;
}

/* For the text styling */