div.contact_us {
  --height: calc(100vh - var(--header-height));
  height: var(--height);
  max-height: var(--height);
  display: flex;
  flex-direction: row;
  gap: 0px;
}

/* For the left side content */
div.contact_us > .left {
  flex-grow: 1;
  padding: 50px;
  padding-top: 30px;
}

/* For the left side text */
div.contact_us > .left h1 {
  font-family: "Playfair display", sans-serif;
  text-transform: uppercase;
  font-size: 75px;
  margin: 0;
  margin-bottom: 50px;
}

div.contact_us > .left div {
  font-family: inherit;
  margin: 0;
}

div.contact_us > .left h2 {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--p);
}


/* For the links */
div.contact_us > .left .link {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 15px;

}
div.contact_us > .left svg {
  height: 26px;
  width: 26px;
}

div.contact_us > .left a {
  font-size: 18px;
  font-weight: 600;
  color: var(--gradientTo);
  text-decoration: none;
  display: block;
  position: relative;
  width: fit-content;
}

div.contact_us > .left a::after {
  content: "";
  height: 1px;
  /* width: calc(100% + 10px); */
  width: 0;
  background-color: black;
  position: absolute;
  bottom: -3.5px;
  left: 0;
  transition: all var(--slider-timing) 300ms;
}

div.contact_us > .left a:hover::after {
  width: 100%;
  transition: all var(--slider-timing) 300ms;
}


/* End of the left side text */



/* For the right side content */
div.contact_us > .right {
  width: fit-content;
  padding-right: 50px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--grey);
  height: 100%;
  overflow: hidden;
}
/* For the panel of images */
div.contact_us .panel {
  width: fit-content;
  position: relative;
  max-height: 488.69px;
}
div.contact_us .images {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin: 0;
  padding: 0;
  max-height: calc(220px + 238.75px);
}
div.contact_us .images > .top-row {
  display: flex;
  flex-direction: row;
  gap: 0px;
  max-height: 220px;
  max-width: 400px;
}
div.contact_us .top-row > img {
  width: fit-content;
  height: 220px;
}
/* For the bottom images */
div.contact_us .images > img.bottom {
  max-width: 455px;
  min-width: 455px;
  transform: scaleY(0.8);
  margin-top: -31px;
}


/* For the text */
div.contact_us .panel > div.text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 0.5px);
  max-height: calc(100% + 0.5px);
  overflow: hidden;
  margin: 0;
  padding: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  box-sizing: border-box;
  color: white;
}

/* For the individual text styling */
.panel > div.text > h2 {
  font-size: 65px;
  margin: 0;
  margin-top: 50px;
  margin-bottom: 10px;
}
.panel > div.text > small {
  font-size: 17px;
  margin-bottom: 20px;
}
.panel form > label {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 6px;
  margin-top: 5px;
  margin-bottom: 5px;
  user-select: none;
  cursor: pointer;
  font-size: 16px;
  padding-left: 3px;
}
.panel form > label > input {
  accent-color: var(--gradientTo);
}
.panel > div.text form {
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-grow: 1;
  justify-content: end;
  padding-bottom: 55px;
}
.panel form > input {
  margin-bottom: 5px;
  box-sizing: border-box;
  padding: 10px;
  outline: 2px solid var(--grey);
  border: none;
  transition: all 250ms;
  border-radius: 0px;
}
.panel form > textarea {
  height: 110px;
  border-radius: 0px;
  resize: none;
  box-sizing: border-box;
  padding: 10px;
  outline: 2px solid var(--grey);
  border: none;
  transition: all 250ms;
}

.panel form > input:focus, .panel form > textarea:focus {
  outline: 2px solid var(--primary);
  transition: all 250ms;
}

/* the submit button */
.panel form > button[type="submit"] {
  outline: 1px solid white;
  font-size: 17px;
  color: white;
  text-decoration: none;
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 250ms;
}
.panel form > button[type="submit"]:hover, .panel form > button[type="submit"]:focus {
  background-color: rgb(0, 0, 0, 0.5);
  transition: all 250ms;
}

/* For the bit underneath the main contact us part */
div.contactlocation {
  padding: 20px;
  box-sizing: border-box;
  width: calc(100vw - 17px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--grey);
}

/* For the right side */
div.contactlocation > .right {
  width: 530px;
  margin-right: 10px;
  box-sizing: border-box;
}
div.contactlocation .right > h2 {
  font-family: "playfair display", sans-serif;
  font-size: 50px;
  margin: 0;
}
div.contactlocation .right > p {
  color: var(--p);
  margin-bottom: 90px;
}
div.contactlocation .right > p > a {
  color: var(--primary);
  text-decoration: none;
}
div.contactlocation .right > p > a:hover {
  text-decoration: underline;
}

/* For the explore our collection button */
div.contactlocation .right > a {
  color: white;
  background-color: var(--b-primary);
  outline: 2px solid var(--b-primary);
  transition: all var(--slider-timing) 0.4s;
  cursor: pointer;
  padding: 20px;
  text-decoration: none;
}
div.contactlocation .right > a:hover {
  outline: 2px solid black;
  background-color: transparent;
  color: black;
  transition: all var(--slider-timing) 0.4s;
}


/* For resize */
@media only screen and (max-width: 1150px) {
  div.contact_us > .right {
    padding: 0;
  }
  div.contact_us {
    gap: 0;
  }
  div.contact_us > .left {
    padding-right: 10px !important;
  }
}

/* For full column down */
@media only screen and (max-width: 1000px) {
  div.contact_us {
    flex-direction: column;
    max-height: fit-content;
    height: fit-content !important;
  }
  

  /* This is for now making the bottom fill the whole part */
  div.contact_us > .left {
    height: calc(100vh - var(--header-height));
  }


  div.contact_us > .right {
    width: 100%;
    box-sizing: border-box;
    padding: 60px;
    overflow-x: hidden;
  }


  /* Now for the below location part */
  div.contactlocation {
    gap: 20px;
  }
  div.contactlocation iframe {
    width: 250px;
    height: 300px;
  }
}

@media only screen and (max-width: 600px) {
  div.contact_us > .left {
    padding-left: 30px;
    padding-top: 0px;
  }
}

@media only screen and (max-width: 530px) {
  div.contact_us > .left h1 {
    font-size: 60px;
  }
  div.contact_us > .left h2 {
    font-size: 18px;
  }
  div.contact_us > .left a {
    font-size: 17px;
  }
  div.contact_us > .left svg {
    width: 22px;
    height: 22px;
  }
}

@media only screen and (max-width: 470px) {
  div.contact_us > .right {
    padding: 0;
  }
  div.contact_us > .left {
    padding-left: 15px;
  }
}

@media only screen and (max-width: 1100px) {
  .contactlocation iframe {
    width: 400px;
    height: 250px;
  }
}
@media only screen and (max-width: 740px) {
  div.contactlocation {
    flex-direction: column;
    max-width: 100% !important;
    width: 100%;
    box-sizing: border-box;
  }
  div.contactlocation .left {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  div.contactlocation iframe {
    width: 90%;
    margin-right: 20px;
  }

  div.contactlocation .right {
    height: 250px;
    width: 100%;
  }
  div.contactlocation .right > p {
    margin-bottom: 70px;
  }
}

@media only screen and (max-width: 560px) {
  div.contactlocation .right >  h2 {
    font-size: 40px;
  }
  div.contactlocation .right > p {
    font-size: 15px;
    max-width: 100%;
    word-wrap: break-word;
    white-space: normal;
  }
  div.contactlocation .right > a {
    font-size: 15px;
  }
}

@media only screen and (max-width: 400px) {
  div.contactlocation .right > h2 {
    font-size: 32px;
  }
  div.contactlocation .right > p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 410px) {
  div.contact_us .left > h1 {
    font-size: 54px;
    margin-top: 20px;
  }
  div.contact_us .left > h2 {
    font-size: 17px;
  }
}

@media only screen and (max-width: 375px) {
  div.contact_us .left > h1 {
    font-size: 48px;
  }

  /* For changing the sizing of the panel form of the contact page */
  .panel {
    width: 100vw !important;
    box-sizing: border-box;
  }
  div.contact_us .panel > .text {
    margin: 0 !important;
    padding: 0 !important;
    align-items: center;
  }
}
@media only screen and (max-width: 350px) {
  .panel div.text > h2 {
    font-size: 50px;
  }
}

@media only screen and (max-width: 335px) {
  div.contact_us .left > h1 {
    font-size: 45px;
  }
  div.contact_us .left > h2 {
    font-size: 16px;
  }
  div.contact_us .left > .link {
    font-size: 16px;
  }
}
