footer {
  background-color: #111;
  min-height: 300px;
  box-sizing: border-box;
  padding: 50px;
  padding-left: 70px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
/* For the top text part */
footer .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
footer .top > .left {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;
}
footer .top > .left h3 {
  margin: 0;
  text-transform: uppercase;
  color: rgb(180, 180, 180);
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 15px;
}

/* For the link-rows */
footer .left > .link-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin-bottom: 5px;
}
/* For the first link row */
footer .left > .link-row a.loc {
  color: rgb(220, 220, 220);
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none; 
}
footer .left > .link-row a.loc:hover {
  text-decoration: underline;
}
/* For the second link row */
footer .left > .link-row a.lin {
  color: var(--gradientTo);
  text-decoration: none;
  display: flex;
  text-transform: uppercase;
  flex-direction: row;
  gap: 0px;
  font-size: 16px;
  position: relative;
  align-items: center;
  margin-right: 25px;
}
footer .left > .link-row > a.lin svg {
  position: absolute;
  left: calc(100% - 1px);
  transition: all var(--slider-timing) 0.5s;
}
footer .left > .link-row > a.lin:hover svg {
  left: calc(100% + 2px);
  transition: all var(--slider-timing) 0.5s;
}

/* This is now the right side of the top text part */
footer .right {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: fit-content;
  padding-left: 30px;
}
/* For the dividing bar */
footer .right::before {
  position: absolute;
  left: -1px;
  top: -5%;
  height: 110%;
  background-color: rgba(180, 180, 180, 0.3);
  width: 1px;
  content: "";
  border-radius: 10px;
}

/* For the link columns */
footer .right > ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 3px;
  list-style: none;
}
/* For the title */
footer .right > ul h4 {
  margin: 0;
  color: rgb(230, 230, 230);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 17px;
  margin-bottom: 5px;
}
/* For the linking parts */
footer .right > ul a {
  text-decoration: none;
  color: rgb(180, 180, 180);
  font-size: 16px;
  text-transform: uppercase;
}
footer .right > ul a:hover {
  color: rgb(210, 210, 210);
}

/* This is now for the timings beneath everything */
footer > ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
/* For the title */
footer > ul > h4 {
  color: rgb(180, 180, 180);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 17px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* For teh list of things */
footer > ul > li {
  margin-bottom: 7px;
  font-weight: 400;
  color: rgb(180, 180, 180);
  font-size: 18px;
}
footer > ul > li > span {
  color: rgb(210, 210, 210);
}



/* For the legal part right at the bottom */
footer > div.legal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  align-items: center;
  margin-top: 70px;
}
footer div.legal > .copyright {
  color: rgb(180, 180, 180);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
footer div.legal > a {
  color: rgb(180, 180, 180);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: underline;
}
footer div.legal > a:hover {
  color: rgb(210, 210, 210);
}

@media only screen and (max-width: 950px) {
  footer {
    align-items: center;
    padding: 40px;
  }
  footer > .top {
    flex-direction: column;
    gap: 50px;
    width: fit-content;
    align-items: center;
  }
  footer .top > .right::before {
    display: none;
  }
  footer .top > .right {
    padding: 0;
    margin-bottom: 30px;
    width: 100%;
    justify-content: center;
    gap: 60px;
    /* justify-content: space-between; */
  }
  footer > ul > h4 {
    color: rgb(230, 230, 230);
  }
}

/* Now or more phone devices */
@media only screen and (max-width: 570px) {
  footer .top > .left .loc > svg {
    width: 20px;
    height: 20px;
  }
  footer .top > .left .loc {
    font-size: 16px;
  }
  footer .top > .left .lin {
    font-size: 14px !important;
  }
}
@media only screen and (max-width: 520px) {
  footer .top > .left .link-row {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 415px) {
  footer {
    padding-left: 20px;
    padding-right: 20px;
  }
  footer .top > .right {
    gap: 20px;
  }
}