section.notfound {
  background-color: var(--grey);
  height: calc(100vh - var(--header-height));
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 40px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

/* for the text side */
section.notfound .text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Montserrat", serif;
  max-width: 500px;
}
section.notfound .text >  h1 {
  color: var(--subtitle);
  font-size: 35px;
  font-weight: 700;
  margin: 0;
}
section.notfound .text > p {
  color: var(--p);
  font-weight: 400;
  margin-bottom: 0px;
}

/* For the subheader and then the links */
section.notfound .text > h4 {
  font-size: 17px;
  font-weight: 700;
  color: var(--subtitle);
  margin-top: 50px;
  margin-bottom: 10px;
}

/* For the links */
section.notfound .text > a {
  background-color: var(--b-primary);
  color: var(--grey);
  width: fit-content;
  padding: 20px;
  text-decoration: none;
  cursor: pointer;
  transition: all var(--slider-timing) 250ms;
  border: 2px solid var(--b-primary);
  position: relative;
  opacity: 0;
  animation: opening_animation 1s var(--slider-timing) 0.3s forwards;
}
section.notfound .text > a:hover {
  color: black;
  transition: all var(--slider-timing) 250ms;
  border: 2px solid black;
  background-color: transparent;
}

/* Opening animation */
@keyframes opening_animation {
  from { opacity: 0;}
  to { opacity: 1;}
}

/* For the image on the right */
section.notfound .image > img {
  box-shadow: 3px 4px 12px 4px #6f6f6f;
}


/* For mobile compatibility */
@media only screen and (max-width: 1080px) {
  section.notfound .text > h1 {
    font-size: 30px;
  }
  section.notfound .text > p {
    font-size: 17px;
  }
  section.notfound .text > h4 {
    font-size: 17px;
  }
  section.notfound .text > a {
    font-size: 16px;
  }
}

@media only screen and (max-width: 940px) {
  section.notfound .image > img {
    width: 400px;
  }
}

@media only screen and (max-width: 800px) {
  section.notfound {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  section.notfound .image > img {
    display: none;
  }

  section.notfound .text {
    max-width: none;
  }
}

@media only screen and (max-width: 500px) {
  section.notfound {
    padding: 20px;
  }
  section.notfound .text > h1 {
    font-size: 28px;
  }
  section.notfound .text > p {
    font-size: 16px;
  }
}