/* Styling for each section */
section {
  padding: 40px 20px 40px 20px;
  width: calc(100vw - 40px);
}

/* Main section */
section.main {
  background-color: var(--grey);
  height: calc(100vh - var(--header-height) - 81px);
  display: flex;
  align-items: center;
  justify-content: center;
}
section.main figure {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin: 0;
  padding: 0;
  justify-content: center;
  height: 100%;
}

/* For the mobile section.mobile-main */
section.mobile-main {
  background-color: var(--grey);
  height: calc(100vh - var(--header-height) - 40px);
  display: none;
  flex-direction: column;
  padding: 20px !important;
  margin: 0 !important;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}
section.mobile-main h1, big {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
section.mobile-main h1 > big {
  font-size: 25px;
  height: fit-content;
  font-family: "Montserrat", sans-serif;
}
section.mobile-main img {
  border-radius: 20px;
  object-fit: contain;
  max-height: 350px;
  width: fit-content;
}

/* For the text underneath the image */
section.mobile-main div.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}
section.mobile-main div.row > h2 {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0;
}
section.mobile-main h2 > span {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0;
}
section.mobile-main div.row > a {
  background-color: var(--b-primary);
  color: white;
  text-decoration: none;
  padding: 20px;
  width: fit-content;
  cursor: pointer;
  text-transform: capitalize;
  transition: all 250ms;
  border: 2px solid var(--b-primary);
}
section.mobile-main div.row > a:hover {
  background-color: transparent;
  transition: all 250ms;
  border: 2px solid black;
  color: black;
}


/* Main image */
section.main img {
  border-radius: 20px;
  object-fit: cover;
  height: auto;
  padding: 0;
  margin-left: 1%;
  max-width: 50%;
  border-bottom-left-radius: 150px;
  opacity: 0.1;
  animation: appear 3s var(--slider-timing) forwards;
}

/* Caption */
section.main figcaption {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 0px;
}

/* Title */
section.main figcaption > h1 {
  margin: 0;
  margin-bottom: 10px;
}
section.main figcaption > h1 > span {
  font-family: "Playfair Display", serif;
  font-size: 70px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0;
  display: block;
  padding: 0;
  opacity: 0;
  transform: translateY(50px);
}
/* The animations for the words of the header */
.h1-one {
  animation: flyin_animation 600ms var(--slider-timing) 0.1s forwards;
}
.h1-two {
  animation: flyin_animation 600ms var(--slider-timing) 0.3s forwards;
}
.h1-three {
  animation: flyin_animation 600ms var(--slider-timing) 0.4s forwards;
}

/* Subheading */
section.main figcaption > h2 {
  font-size: 18px;
  font-weight: 500;
  color: black;
  animation: right-fly-in 600ms cubic-bezier(0.16, 1, 0.3, 1) 0.5s forwards;
  opacity: 0;
  transform: translateX(100px);
  margin: 0;
}

/* Link button */
section.main figcaption > a {
  background-color: var(--b-primary);
  color: white;
  text-decoration: none;
  padding: 20px;
  width: fit-content;
  margin-top: 30px;
  cursor: pointer;
  text-transform: capitalize;
  transition: all 250ms;
  border: 2px solid var(--b-primary);
  opacity: 0;
  animation: flyin_animation 600ms var(--slider-timing) 0.5s forwards;
}
section.main figcaption > a:hover {
  background-color: transparent;
  transition: all 250ms;
  border: 2px solid black;
  color: black;
}

/* For the piece of the week */
section {
  padding: 40px 20px 40px 20px;
  width: calc(100vw - 40px);
}
section.pow {
  display: flex;
  justify-content: center;
}
section.pow figcaption::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 1px;
  top: 0;
  left: 1px;
  background-color: var(--primary);
}
section.pow figure {
  width: 80%;
  border-radius: 0px 25px 150px 0px;
  display: flex;
  position: relative;
  max-height: 400px;
  overflow: hidden;
}
section.pow figure > img {
  border-bottom-right-radius: 150px;
  border-top-right-radius: 25px;
  max-width: 50%;
  z-index: 1;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}
section.pow figure > img:hover {
  transform: scale(1.05);
  transition: all ease-in-out 200ms;
}
section.pow figure > figcaption {
  padding: 20px;
  background-color: rgb(240, 240, 240);
  z-index: 3;
}
section.pow figcaption > h3 {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  position: relative;
  margin-left: 13px;
}


/* The gap for when it is mobile */
section.pow figure > div {
  height: 0px;
  margin: 0;
  background-color: white;
  z-index: 10;
  padding: 0;
}

/* Header blue strip */
section.pow figcaption > h3::before {
  position: absolute;
  content: '';
  width: 7px;
  height: 100%;
  top: 0;
  left: -13px;
  top: -1px;
  background: var(--primary);
}
section.pow figcaption > h2 {
  font-size: 30px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 0;
  margin-top: 10px;
}
section.pow figcaption > p {
  font-size: 16px;
  font-weight: 400;
  color: rgb(0, 0, 0, 0.9);
}
/* End of the piece of the week */

/* CARDS and then non-special cards  */
/* For the special cards */
section.cards {
  margin-right: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}
section.cards h2 {
  text-align: center;
  font-size: 50px;
  margin:0;
  margin-bottom: 40px;
  font-family: "montserrat", serif;
  text-transform: capitalize;
}
section.cards h3 {
  text-align: center;
}
section.cards .theme-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
  padding: 20px;
  flex-wrap: wrap;
}
section.cards .theme-row > a {
  height: 400px;
  max-width: 250px;
  min-width: 250px;
  position: relative;
  overflow: hidden;
  background-color: red;
}

/* The image part */
section.cards a > figure {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}
section.cards a > figure > img {
  object-fit: contain;
  height: 400px;
}

/* The text part */
section.cards figcaption {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: rgb(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 200ms;
}
section.cards figcaption > img {
  width: 75%;
  max-height: 120px;
}
section.cards a:hover > figcaption {
  transition: all 200ms;
  background-color: rgb(0, 0, 0, 0.6);
}
section.cards figcaption > p {
  position: relative;
  font-size: 20px;
  font-weight: 400;
}
section.cards figcaption > p::after {
  content: url("./arrow.svg");
  position: absolute;
  top: 2.5px;
  right: -18px;
  opacity: 0;
  transition: all 100ms 0.1s;
}
section.cards a:hover > figcaption > p::after {
  right: -28px;
  opacity: 1;
  transition: all 100ms;
}
section.cards figcaption >  p::before {
  content: url("./arrow.svg");
  position: absolute;
  top: 2.5px;
  right: -10px;
  opacity: 0;
  transition: all 100ms;
}
section.cards a:hover > figcaption > p::before {
  opacity: 1;
  right: -19px;
  transition: all 100ms;
}

/* The mobile area for the cards */
section.cards .mobile-theme-row {
  display: none;
}
/* The link for the featured cards when it is mobile */
section.cards > a.featured {
  display: none;
  color: var(--primary);
  margin-top: 30px;
  text-decoration: none;
}
section.cards > a.featured:hover {
  text-decoration: underline;
}

/* For the cards when it is not mobile */
section.cards > .card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px; 
  padding: 20px;
  justify-content: center;
}



/* Mobile compatibility */
/* For the difference in the cards at the bottom */
@media only screen and (max-width: 630px) {
  section.cards > .card-grid {
    display: none;
  }
  section.cards .mobile-theme-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    width: 100%;
    max-width: 630px;
  }
  section.cards .mobile-theme-row > a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
    border-radius: 0px;
  }
  section.cards .mobile-theme-row > a:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transform: scale(1.05);
    overflow: hidden;
    transition: transform 0.3s ease;
    border-radius: 0px;
  }
  section.cards .mobile-theme-row > a > img.disney {
    transform: scale(8);
  }
  section.cards .mobile-theme-row > a > img {
    max-height: 80px;
  }
  section.cards > a.featured {
    display: block;
  }
  
  /* Not displaying the pc version anymore */
  section.cards .theme-row {
    display: none;
  }

  section.cards h3 {
    display: none;
  }

  section.mobile-main img {
    width: 100%;
    border-radius: 20px !important;
  }
}


/* For the rest */


@media only screen and (max-width: 1280px) {
  section.pow figure {
    width: 100%;
  }
}
@media only screen and (max-width: 1120px) {
  section.main figcaption > h1 > span {
    font-size: 60px;
  }
  section.main figcaption > h2 {
    font-size: 15px;
    margin-top: 10px;
  }

  section.pow > figure {
    margin: 0;
    margin-right: 15px;
  }
  @media screen and (max-width: 1200px) {
    section.cards > .card-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  
}


/* Going to mobile size and adding in the menu icon */
@media only screen and (max-width: 970px) {
  section {
    padding: 20px;
  }

  section.cards > .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  /* For the pow changes */
  section.pow figure {
    flex-direction: column-reverse;
    max-height: none;
    border-radius: 0px;
    align-items: center;
  }
  section.pow figure > div {
    height: 30px;
  }
  section.pow figure > img {
    border-radius: 0px !important;
    max-height: 350px;
    max-width: none;
    width: fit-content;
  }
  section.pow figcaption::before {
    height: 0px;
  }

  /* For the figures in the main */
  /* New mobile main */
  section.mobile-main {
    display: flex;
  }


  section.main {
    display: none;
  }

}
@media only screen and (max-width: 500px) {

  section.cards .mobile-theme-row  {
    gap: 10px;
  }
  section.cards .mobile-theme-row > a > img {
    max-height: 60px;
  }
  section.cards .mobile-theme-row > a > img.disney {
    transform: scale(5);
  }
}


/* Animations */
@keyframes appear {
  from {
    opacity: 0.1;
  } to {
    opacity: 1;
  }
}

@keyframes right-fly-in {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes left-fly-in {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes flyin_animation {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}