/* This is to seperate the items that can be searched up from the menu on the left */
section.collection {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 40px;
  gap: 0px;
  padding-top: 10px;
  box-sizing: border-box;
  padding-right: 0px;
  margin-right: 0px;
  width: 100%;
  min-height: calc(100vh - var(--header-height));
}

/* This is the css for the results part */
/* For the parents of the results */
section.collection section.result_parent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  padding-right: 20px;
  overflow-x: hidden;
}


section.result_parent > a.photographyresults {
  text-decoration: none;
  color: var(--gradientTo);
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
  margin-bottom: 3px;
}
section.result_parent > a.photographyresults:hover {
  text-decoration: underline;
}

/* This is for the search bar */
section.searchbar {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
  padding-top: 10px;
}

/* This is for the search result info thing */
section.searchbar > h2 {
  display: flex;
  flex-direction: row;
  gap: 3px;
  margin: 0;
  padding: 0;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
}

/* For the stuff inside of the h2 */
section.searchbar h2 > span.title {
  font-weight: 500;
  color: var(--p);
  font-size: 14px;
}
section.searchbar h2 > span.result {
  color: rgb(130, 130, 130);
  font-size: 14px;
  font-weight: 500;
}

/* This is for the actual search bar and not for the bit above */
section.searchbar > form {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

/* input area */
section.searchbar form > button {
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.searchbar form > input {
  border: none;
  flex-grow: 1;
  font-size: 18px;
  border-radius: none;
  z-index: 10;
  background-color: transparent;
}
section.searchbar form > input:focus {
  border: none;
  outline: none;
}

section.searchbar form::after {
  position: absolute;
  content: '';
  bottom: -6px;
  height: 0.5px;
  background-color: rgb(170, 170, 170);
  width: 100%;
  transition: all 200ms;
}
section.searchbar form:focus-within::after {
  background-color: var(--primary);
  height:2px;
  transition: all 200ms;
}


/* The navbar on the left */
section.collection nav {
  max-width: 250px;
  min-width: 250px;
  margin-right: 50px;
  user-select: none;
  padding-top: 10px;
  background-color: white;
  min-height: calc(100vh - var(--header-height) - 72.8px);
}

/* The nav bar is for the elements */
section.collection nav > ul {
  padding-left: 0;
}
/* This is for the title */
section.collection nav > h3 {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

/* THis is for the actual menu */
section.collection nav > ul > li {
  list-style-type: none;
  margin-top: 20px;
  position: relative;
}

/* This is for the gray border line */
section.collection nav > ul > li::after {
  content: '';
  position: absolute;
  bottom: -12px;
  left: -5px;
  height: 0.5px;
  width: calc(100% + 10px);
  background-color: rgb(170, 170, 170);
}

section.collection nav > ul > li.top::before {
  content: '';
  position: absolute;
  height: 0.5px;
  top: -10px;
  left: -5px;
  width: calc(100% + 10px);
  background-color: rgb(170, 170, 170);
}


/* End of the grey border line */

section.collection nav > ul > li > h4 {
  margin: 0;
  cursor: pointer;
  text-transform: capitalize;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

/* This is for the elements inside of the actual li */
section.collection  ul.theme-list {
  list-style-type: none;
  padding-left: 20px;
}
section.collection ul.theme-list li {
  margin-top: 5px;
  text-transform: capitalize;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

/* For the see more buttons */
#downButton, li.upButton {
  padding: 10px;
  width: calc(100% - 20px);
  cursor: pointer;
  justify-content: center;
}
#downButton >svg {
  transform: rotate(90deg);
}
li.upButton >svg {
  transform: rotate(-90deg);
  margin-bottom: -5px;
}

section.collection ul.theme-list li.downy {
  display: flex;
  flex-direction: column;
}
section.collection ul.theme-list li.up {
  display: flex;
  flex-direction: column;
}


/* This is for the label of the inputcheckbox */
section.collection ul.theme-list label {
  cursor: pointer;
}
section.collection ul.theme-list input[type="checkbox"] {
  accent-color: var(--primary);
}

/* For the results part */
section.results_child {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 35px;
  padding: 15px 0 0 0;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

section.noresults {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0 !important;
  padding: 0 !important;
}
section.noresults > h3 {
  color: var(--subtitle);
  margin-bottom: 0;
  font-size: 24px;
}
section.noresults > p {
  color: var(--p);
  font-size: 17px;
}
section.noresults > p a {
  color: var(--primary);
}
section.noresults > p  a:hover {
  color: var(--b-primary);
}


/* For the change in size for the collections card */
section.results_child a.collections-card {
  width: 250px;
  height: 450px;
}

/* this is for the extra button when generating more images in */
section.extrabutton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
section.extrabutton > button.button {
  color: var(--primary);
  font-weight: 400;
  font-size: 17px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
section.extrabutton > button.button:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1180px) {
  section.results_child {
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-row-gap: 20px;
  }
  section.results_child a.collections-card {
    width: 220px;
    height: 370px;
  }
}

@media only screen and (max-width: 1040px) {
  section.collection {
    padding-left: 25px;
  }
  section.collection > nav {
    display: none;
  }
  
  section.collection section.result_parent {
    max-width: 100%;
  }
}

@media only screen and (max-width: 520px) {
  section.results_child a.collections-card {
    width: 200px !important;
  }
  section.results_child {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  section.collection {
    padding-left: 10px;
  }
  section.collection > section.result_parent {
    padding-right: 10px;
  }
  section.collection > section.result_parent .searchbar {
    margin-left: 15px;
    width: calc(100% - 30px);
  }
  .collections-card .text {
    gap: 0;
  }
  .collections-card .text > h4 {
    font-size: 15px;
  }
  .collections-card .text > small {
    font-size: 10px;
    margin: 0;
  }
  .collections-card .text > p {
    font-size: 14px;
  }
  section.noresults {
    padding-left: 15px !important;
  }
}

@media only screen and (max-width: 450px) {
  section.results_child a.collections-card {
    width: 180px !important;
    height: 350px;
  }
  section.results_child {
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  }
}

@media only screen and (max-width: 400px) {
  section.results_child a.collections-card {
    width: 150px !important;
    height: 320px;
  }
  section.results_child {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  .collections-card .text > h4 {
    font-size: 13.5px;
  }
  .collections-card .text > small {
    font-size: 9px;
    margin: 0;
  }
  .collections-card .text > p {
    font-size: 12.5px;
  }
}

@media only screen and (max-width: 370px) {
  section.searchbar h2 > span.title {
    display: none;
  }
  section.searchbar h2 svg {
    display: none;
  }
}

/* End of the results */