/* Applies to all */
* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal; 
  user-select: none;
}

/* Variables */
:root {
  /* Main colour from the logo */
  --primary: #003399;
  
  /* Colour for buttons */
  --b-primary: #012b7f;
  --gradientTo: #0055ff;

  /* Text */
  --subtext: #272525;
  --p: #2c2929;
  --subtitle: #1b1a1a;

  /* header */
  --header-pure-height: 70px;
  --header-pure-padding: 20px;
  --header-height: calc(var(--header-pure-height) + (var(--header-pure-padding)* 2));

  /*  For Animation  */
  --slider-timing: cubic-bezier(0.16, 1, 0.3, 1);

  /* Gray colour */
  --grey: rgb(221, 221, 221);
}
::selection {
  background-color: var(--primary);
  color: white;
}


body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

img[alt] {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

/* FOR THE HEADER */
header {
  position: relative;
  top: 0;
  left: 0;
  width: calc(100% - 30px);
  display: flex;
  flex-direction: row;
  z-index: 100;
  justify-content: space-between;
  padding: var(--header-pure-padding) 15px var(--header-pure-padding) 15px;
  max-height: var(--header-pure-height);
  height: var(--header-pure-height);
  align-items: center;
  border-bottom: 1px solid var(--grey);
}
/* Logo */
header > a {
  display: flex;
  align-items: center;
}
header > a > img {
  max-height: var(--header-pure-height);
  max-width: 90%;
}
header > a > img[alt] {
  color: var(--primary);
  font-size: 35px;
  font-weight: 700;
}

/* Link section */
header > nav.pc {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}
header > nav.pc * {
  cursor: pointer;
  color: black;
  fill: var(--b-primary);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  transition: all 150ms;
  position: relative;
}

/* For if the link is selected */
header nav.pc > a.selected {
  color: var(--b-primary);
}
header nav.pc > a.selected::after {
  content: '';
  position: absolute;
  bottom: -4px;
  min-width: 100%;
  height: 1px;
  background-color: black;
  left: 0;
}
/* Actual link */
header > nav.pc > a:hover {
  color: var(--b-primary);
  transition: color 150ms;
}

/* Link hover styling */
header > nav.pc > a::after {
  content: '';
  position: absolute;
  bottom: -4px;
  width: 0px;
  height: 1px;
  background-color: black;
  transition: var(--slider-timing) width 400ms;
  left: 0;
}
header > nav.pc > a:hover::after {
  width: 100%;
  transition: var(--slider-timing) width 400ms;
}

/* Search icon */
header .header-search-icon:hover {
  transform: scale(1.1);
  transition: transform 150ms;
}

/* For the header icon */
header nav > button {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
  height: 20px;
  padding: 5px;
  display: none;
  margin: 0;
}
header button > div {
  background-color: black;
  outline: none;
  border: none;
  width: 24px;
  height: 1.5px;
  padding: 0;
  position: relative;
  cursor: pointer;
}
header button > div.open {
  background-color: transparent;
}
/* For the symbols that move on click  */
header button > div::before {
  position: absolute;
  top: -5.5px;
  content: '';
  height: 2px;
  width: 100%;
  background-color: black;
  left: 0;
  cursor: pointer;
  transition: all 200ms;
}
header button > div::after {
  position: absolute;
  top: 5.5px;
  content: '';
  height: 2px;
  width: 100%;
  background-color: black;
  left: 0;
  transition: all 200ms;
  cursor: pointer;
}

/* When it gets clicked */
header button > div.open::before {
  transform: rotate(45deg);
  top: 0;
  width: 20px;
  transition: all 200ms;
}
header button > div.open::after {
  transform: rotate(-45deg);
  transition: all 200ms;
  top: 0;
  width: 20px;
}

/* For the mobile navbar */
header nav.mobile {
  position: absolute;
  top: var(--header-height);
  z-index: 100;
  left: 0;
  width: 100%;
  background-color: black;
  flex-direction: column;
  gap: 0px;
  padding-left: 20px;
  padding-top: 8px;
  padding-right: 20px;
  box-sizing: border-box;
  padding-bottom: 8px;
}
header > nav.mobile * {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  font-size: 15px;
  height: 30px;
  display: flex;
  align-items: center;
  font-weight: 400;
  text-align: left;
  margin-right: 20px;
}
header > nav.mobile > *:hover {
  background-color: #111;
}

header > nav.mobile div {
  display: flex;
}
header nav.mobile > div > a {
  width: 100%;
}

/* Styling for the searchbar */
header > form {
  position: absolute;
  top: var(--header-height);
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  padding: 20px;
  background-color: black;
}

/* For the section inside the search bar that contains the input area */
header form > .input {
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 450px;
  border-radius: 30px;
  box-sizing: border-box;
  padding-left: 13px;
  gap: 8px;
  padding-right: 5px;
  position: relative;
  transition: all var(--slider-timing) 1s;
}

/* For the blue lines that come out from underneath */
header form > .input::before {
  content: "";
  position: absolute;
  top: 100%;
  height: 2px;
  width: 0%;
  right: 50%;
  transition: all var(--slider-timing) 0.4s;
  background-image: linear-gradient(to left, var(--gradientTo), var(--primary));
}

header form > .input::after {
  content: "";
  position: absolute;
  top: 100%;
  height: 2px;
  width: 0%;
  left: 50%;
  transition: all var(--slider-timing) 0.4s;
  background-image: linear-gradient(to right, var(--gradientTo), var(--primary));
}

header form > .input:focus-within {
  border-radius: 0;
  transition: all var(--slider-timing) 1s;
}

header form > .input:focus-within::before, header form > .input:focus-within::after {
  width: 50%;
  transition: all var(--slider-timing) 0.4s;
}


/* For the actual input */
header form > .input input[name="search"] {
  background-color: transparent;
  border: none;
  outline: none;
  flex-grow: 1;
  font-family: "Montserrat", serif;
  color: var(--p);
  font-size: 17px;
}

header form > .input input[name="search"]::placeholder {
  color: rgb(110, 110, 110);
}


/* For the search button */
header form > .input svg {
  fill: var(--primary);
  cursor: pointer;
}

/* For the close button */
header .input > .close {
  height: 100%;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  width: 45px;
  position: relative;
  padding: 0;
  transition: all 200ms;
}

header .input > .close::before {
  content: '';
  position: absolute;
  top: 11px;
  left: 10.5px;
  background-color: #111;
  transform: rotate(45deg);
  width: 24px;
  height: 1.5px;
}
header .input > .close::after {
  content: '';
  position: absolute;
  top: 11px;
  right: 10.5px;
  background-color: #111;
  transform: rotate(-45deg);
  width: 24px;
  height: 1.5px;
}

header .input > .close:hover::after, header .input > .close:hover::before {
  background-color: black;
}

/* this is for the search bar and then all of the theme links */
/* The styling i want is the same black background, blue slice scrollbar, and have the max height of the dropdwon around 300px */
header .seperatelinks {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
/* For the details and summary */
header .seperatelinks > summary {
  color: white;
}
header .seperatelinks > details {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16.5px;
  font-weight: 400;
  position: relative;
  padding-left: 18px;
  padding-right: 18px;
}
/* For the links now */
header .seperatelinks ul {
  position: absolute;
  background-color: black;
  top: 100%;
  width: 100%;
  left:  0;
  list-style-type: none;
  margin: 0;
  gap: 10px;
  padding: 0;
  padding-top: 10px;
  box-sizing: border-box;
}
header .seperatelinks li {
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  box-sizing: border-box;
}
header .seperatelinks li > a {
  color: rgb(210, 210, 210);
  text-transform: uppercase;
  text-decoration: none;
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 20px;
}
header .seperatelinks li:hover {
  background-color: #111;
}
header .seperatelinks li:hover a {
  color: white;
}
header .seperatelinks ul:last-child {
  padding-bottom: 10px;
}

/* Details opening animation */
details::details-content {
  opacity: 0;
  block-size: 0;
  overflow-y: clip;
  transition: content-visibility 0.4s allow-discrete,
              opacity 0.4s var(--slider-timing),
              block-size 0.4s var(--slider-timing);
}
details[open]::details-content {
  opacity: 1;
  block-size: auto;
}


/* END OF THE HEADER */

/* Start of the footer */
footer {
  background-color: #111;
  height: 200px;
}


/* end of the footer */

/* Start of the Scroll button styling */
.scroll-button {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  box-shadow: 1px 3px 11px 0px rgb(50, 50, 50);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: fixed;
  z-index: 1000;
  bottom: 20px;
  right: 20px;
  padding: 0;
  background-color: white;
  border: 1px solid rgb(180, 180, 180);
  transition: all ease-out 150ms;
}
.scroll-button:hover {
  transition: all ease-out 150ms;
  transform: translateY(-5px) !important;
}

.scroll-button > svg {
  width: 30px;
  padding: 0;
  margin: 0;
  height: 30px;
  fill: var(--primary);
}


/* End of the scroll button styling */



/* Media for the header */
@media only screen and (max-width: 1030px) {
  header nav.pc {
    gap: 10px;
  }
  header nav.pc > a {
    display: none;
  }
  header nav.pc > button {
    display: block;
  }
  header .header-search-icon {
    padding-top: 2px;
  }
}

