@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Applies to all */
* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal; 
  user-select: none;
}

/* Variables */
:root {
  /* Main colour from the logo */
  --primary: #003399;
  
  /* Colour for buttons */
  --b-primary: #012b7f;

  /* header */
  --header-pure-height: 70px;
  --header-pure-padding: 20px;
  --header-height: calc(var(--header-pure-height) + (var(--header-pure-padding)* 2));

  /*  For Animation  */
  --slider-timing: cubic-bezier(0.16, 1, 0.3, 1);

  /* Gray colour */
  --grey: rgb(221, 221, 221);
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

img[alt] {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

/* FOR THE HEADER */
header {
  position: relative;
  top: 0;
  left: 0;
  width: calc(100vw - 30px);
  display: flex;
  flex-direction: row;
  z-index: 100;
  justify-content: space-between;
  padding: var(--header-pure-padding) 15px var(--header-pure-padding) 15px;
  max-height: var(--header-pure-height);
  height: var(--header-pure-height);
  align-items: center;
  border-bottom: 1px solid var(--grey);
}

/* Logo */
header > a {
  display: flex;
  align-items: center;
}
header > a > img {
  max-height: var(--header-pure-height);
  max-width: 90%;
}
header > a > img[alt] {
  color: var(--primary);
  font-size: 35px;
  font-weight: 700;
}

/* Link section */
header > nav.pc {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  margin-right: 20px;
}
header > nav.pc * {
  cursor: pointer;
  color: black;
  fill: var(--b-primary);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  transition: all 150ms;
  position: relative;
}

/* For if the link is selected */
header nav.pc > a.selected {
  color: var(--b-primary);
}
header nav.pc > a.selected::after {
  content: '';
  position: absolute;
  bottom: -4px;
  min-width: 100%;
  height: 1px;
  background-color: black;
  left: 0;
}
/* Actual link */
header > nav.pc > a:hover {
  color: var(--b-primary);
  transition: color 150ms;
}

/* Link hover styling */
header > nav.pc > a::after {
  content: '';
  position: absolute;
  bottom: -4px;
  width: 0px;
  height: 1px;
  background-color: black;
  transition: var(--slider-timing) width 400ms;
  left: 0;
}
header > nav.pc > a:hover::after {
  width: 100%;
  transition: var(--slider-timing) width 400ms;
}

/* Search icon */
header .header-search-icon:hover {
  transform: scale(1.1);
  transition: transform 150ms;
}

/* For the header icon */
header nav > button {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
  height: 20px;
  padding: 5px;
  display: none;
  margin: 0;
}
header button > div {
  background-color: black;
  outline: none;
  border: none;
  width: 24px;
  height: 1.5px;
  padding: 0;
  position: relative;
  cursor: pointer;
}
header button > div.open {
  background-color: transparent;
}
/* For the symbols that move on click  */
header button > div::before {
  position: absolute;
  top: -5.5px;
  content: '';
  height: 2px;
  width: 100%;
  background-color: black;
  left: 0;
  cursor: pointer;
  transition: all 200ms;
}
header button > div::after {
  position: absolute;
  top: 5.5px;
  content: '';
  height: 2px;
  width: 100%;
  background-color: black;
  left: 0;
  transition: all 200ms;
  cursor: pointer;
}

/* When it gets clicked */
header button > div.open::before {
  transform: rotate(45deg);
  top: 0;
  width: 20px;
  transition: all 200ms;
}
header button > div.open::after {
  transform: rotate(-45deg);
  transition: all 200ms;
  top: 0;
  width: 20px;
}

/* For the mobile navbar */
header nav.mobile {
  position: absolute;
  top: var(--header-height);
  z-index: 100;
  left: 0;
  width: 100%;
  background-color: black;
  flex-direction: column;
  gap: 0px;
  padding-left: 20px;
  padding-top: 8px;
  padding-right: 20px;
  box-sizing: border-box;
  padding-bottom: 8px;
}
header > nav.mobile * {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  font-size: 15px;
  height: 30px;
  display: flex;
  align-items: center;
  font-weight: 400;
  text-align: left;
  margin-right: 20px;
}
header > nav.mobile > *:hover {
  background-color: #111;
}

header > nav.mobile div {
  display: flex;
}
header nav.mobile > div > a {
  width: 100%;
}
/* END OF THE HEADER */

/* Start of the footer */
footer {
  background-color: #111;
  height: 200px;
}
/* end of the footer */

@media only screen and (max-width: 460px) {
  :root {
    --header-pure-padding: 5px;
  }
}

/* Media for the header */
@media only screen and (max-width: 1030px) {
  header nav.pc {
    gap: 10px;
  }
  header nav.pc > a {
    display: none;
  }
  header nav.pc > button {
    display: block;
  }
  header .header-search-icon {
    padding-top: 2px;
  }
}